<div class="col-10 offset-1">
  <h1>About Splurty</h1>
</div>

<p>
  Splurty was built by <a target="_blank" href="http://github.com/PatrickLyden">Patrick</a>
</p>
<br />
<p>
  He is currently learning how to code through the George Washington University Coding Bootcamp.
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Patrick Lyden</h2>
    <br />
    <p>
      Patrick Lyden is an Electrical Engineer and a student at George Washington University's Coding Bootcamp.
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />