<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Here's some of the best things Jim Gaffigan has said in the name of comedy!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />